// Listing color
$backgroundColor: rgb(238, 241, 243);
$textColor: rgb(38, 40, 41);
$priceColor: rgb(234, 52, 31);
$inactiveColor: rgb(194, 203, 208);
$pagingColor: rgba(245, 71, 30, 0.8);
$bagdeColor: rgb(245, 132, 0);
$navColor: rgb(245, 71, 30);
$hightlightColor: rgb(30, 117, 246);

$navHeight: 48px;
