@import './variables';

.listing__container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $navHeight;
  background-color: $backgroundColor;
  .product {
    width: 100%;
    margin-bottom: 5px;
    padding: 12px 0 12px 12px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: $textColor;
    box-shadow: 0 5px 4px -6px #000000;
    text-decoration: none;
    cursor: pointer;
    &__thumbnail {
      width: 80px;
      min-width: 80px;
      height: 80px;
      margin-right: 12px;
    }
    &__info {
      .info__name {
        line-height: 19px;
        letter-spacing: -0.15px;
        margin-bottom: 5px;
      }
      .info__price {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.4px;
        &--selling, &--old-price {
          color: $priceColor;
          font-weight: 500;
          position: relative;
          display: inline-block;
          &::after {
            content: "đ";
            font-size: 0.8em;
            color: $priceColor;
            position: absolute;
            right: -8px;
            top: -2px;
          }
        }
        &--old-price {
          color: $inactiveColor;
          text-decoration: line-through;
          &::after {
            color: $inactiveColor;
          }
        }
        &--stop-selling {
          color: $inactiveColor;
        }
        &--promote {
          margin-left: 10px;
          color: #ffffff;
          background-color: $navColor;
          clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0 50%);
          display: inline-block;
          border-radius: 3px;
          padding-left: 7px;
          padding-right: 3px;
          font-size: 0.9em;
        }
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $backgroundColor;
  padding-bottom: 5px;
  &__item {
    background-color: #ffffff;
    padding: 2px 5px;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    text-decoration: none;
    color: #000000;
    &--active {
      color: #ffffff;
      background-color: $pagingColor;
    }
  }
}
